snscrape
pandas
numpy-financial

https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0.tar.gz#egg=en_core_web_sm

better-profanity
wordcloud
cleantext

tensorflow
transformers
huggingface_hub

streamlit==1.21.0
plotly

protobuf==3.20.3
